################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MasterTools/copilot-chat/32c08448/sessions
